/* setup */

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}

button {
    margin: 0;
}

/* grid setup */

.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: 90vh;
    max-height: 100vh;
    aspect-ratio: 1440 / 1024;
    border: 2px solid black;
    /* font-size: 90%; */
}

h1 {
    grid-column: 1 / 3;
    text-align: center;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 0.5em;
    padding: 0px;
    font-weight: 700;
    font-size: 48px;
    /* font-size: 64px; */
}

.poke-container {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 4.5em;
    padding-right: 4.5em;
    box-sizing: border-box;
    /* border: 2px solid black; */
    align-items: center;
}

.info-container {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    padding-left: 4em;
    padding-right: 4em;
    box-sizing: border-box;
    /* border: 2px solid black; */
    align-items: center;
}

/* mobile display */

@media screen and (max-width: 768px) {
    .main-menu {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        height: auto;
        max-height: none;
        aspect-ratio: auto;
    }

    h1 {
        grid-column: 1;
        grid-row: 1;
    }

    .poke-container {
        grid-column: 1;
        grid-row: 2;
    }

    .info-container {
        grid-column: 1;
        grid-row: 3;
    }

}

/* image display */

.image-display {
    display: flex;
    /* width: min(50%, 463px); */
    width: 100%;
    /* max-height: 463px; */
    aspect-ratio: 1 / 1;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin-bottom: 1em;
}

#pokemon-sprite {
    transform: scale(2);
}

/* name and types */

.name-display {
    display: flex;
    width: 100%;
    /* width: min(50%, 463px); */
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #E8E8E8;
    border-radius: 10px;
    margin-bottom: 1em;;
}

#pokemon-name {
    font-size: 28px;
    font-weight: 400;
    margin-top: 0.3em;
    margin-bottom: 0.3em;;
}

.types-display {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
    gap: 0.5em;
    margin-bottom: 2em;;
}

#pokemon-types {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.type-box {
    padding: 0.2em 0.4em;
    background-color: #e0e0e0;
    border-radius: 0.5em;
    /* text-transform: capitalize; */
}

/* arrow styling */

.arrow-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.arrow-buttons button {
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

.arrow-buttons button:hover {
    opacity: 0.7;
}

.arrow-buttons button img {
    display: block;
    width: 120px;
    height: auto;
    max-width: 173px;;
    aspect-ratio: 173 / 69;
}

/* info display */

#info-title {
    font-weight: bold;
    margin-top: 0;
}

.info-display {
    width: 100%;
    height: 100%;
}

.info-box {
    display: flex;
    flex-direction: column;;
    width: 100%;
    height: 83%;
    max-height: 500px;
    background-color: #E8E8E8;
    padding: 1em;
    box-sizing: border-box;
    /* aspect-ratio: 486 / 598; */
}
